body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;font-size: 16px;}

.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
/******上面是css初始化******/



/***************welcome******************/
.welcome{width: 100%;height: 50px;box-sizing: border-box;margin: 0 auto;background-color: #FFFFFF;}
.welcome_center{width: 1293px;height: 50px;line-height: 50px;margin: 0 auto;}

.welcome_center h6{text-align: left;color: #030303;margin-left: 35px;font-size: 14px;}





/************header***********/

.header{width: 100%;height: 113px;box-sizing: border-box;margin: 0 auto;margin-bottom: -113px;}
.header_center{width: 1293px;height: 113px;margin: 0 auto;}
.header_left{width: 257px;height: 113px;float: left;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}
.header_middle{width: 782px;height: 113px;float: left;}
.header_middle ul{width: 770px;height: 113px;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;align-items: center;box-sizing: border-box;}

.header_middle li{width: 96px;height: 113px;}

.header_middle li h3{color: #FFFFFF;font-size: 16px;font-weight: bold;}

.header_middle a{text-decoration: none;display: block;width: 96px;height: 113px;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}

.header_right{width: 254px;height: 113px;float: left;}
.header_right_img{width: 68px;height: 113px;float: left;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}
.header_right_font{width: 186px;height: 113px;float: right;display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;align-content: center;}
.header_right_h3 {width: 186px;height: 20px;}
.header_right_h3 h3{text-align: left;font-size: 16px;font-weight: bold;box-sizing: border-box;padding-left: 10px;color: #FFFFFF;}
.header_right_h4 {width: 186px;height: 20px;}
.header_right_h4 h4{text-align: left;font-size: 16px;color: #007fd3;font-weight: bold;box-sizing: border-box;padding-left: 10px;}



.active_button h3{color: #007fd3 !important;}



/*******悬浮导航开始********/
.container_center2 {}




/***************welcome******************/
.container_center2 .welcome{width: 100%;height: 50px;box-sizing: border-box;margin: 0 auto;background-color: #333333;z-index: 999;position: fixed;top: 0;}
.container_center2 .welcome_center{width: 1293px;height: 50px;line-height: 50px;margin: 0 auto;}

.container_center2 .welcome_center h6{text-align: left;color: white;margin-left: 35px;font-size: 14px;}


/************header***********/

.container_center2 .header{width: 100%;height: 81px;box-sizing: border-box;margin: 0 auto; z-index: 999;position: fixed;background-color: rgba(4, 14, 53, .4);top: 0;}
.container_center2 .header_center{width: 1293px;height: 81px;margin: 0 auto;}
.container_center2 .header_left{width: 257px;height: 81px;float: left;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}
.container_center2 .header_middle{width: 782px;height: 81px;float: left;}
.container_center2 .header_middle ul{width: 770px;height: 81px;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;align-items: center;box-sizing: border-box;}

.container_center2 .header_middle li{width: 96px;height: 81px;}

.container_center2 .header_middle li h3{font-size: 16px;font-weight: bold;color: white;}

.container_center2 .header_middle a{text-decoration: none;display: block;width: 96px;height: 81px;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}

.container_center2 .header_right{width: 254px;height: 81px;float: left;}
.container_center2 .header_right_img{width: 68px;height: 81px;float: left;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}
.container_center2 .header_right_font{width: 186px;height: 81px;float: right;display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;align-content: center;}
.container_center2 .header_right_h3 {width: 186px;height: 20px;}
.container_center2 .header_right_h3 h3{text-align: left;font-size: 16px;font-weight: bold;box-sizing: border-box;padding-left: 10px;color: white;}
.container_center2 .header_right_h4 {width: 186px;height: 20px;}
.container_center2 .header_right_h4 h4{text-align: left;font-size: 16px;font-weight: bold;box-sizing: border-box;padding-left: 10px;color: white;}



.container_center2 .active_button h3{color: #007fd3 !important;}





/*******悬浮导航开始********/




/*******body********/
.body{}



/*******body_top********/
.body_top{width: 100%;height: 450px;background:url('../images/product_center/body_top_bg.jpg') no-repeat;background-size: 100% 100%;box-sizing: border-box;padding-top: 150px;}

.body_top_block{width: 1200px;height: 300px;}
.body_top_block_title{width: 1200px;height: 112px;box-sizing: border-box;padding-top: 21px;}
.body_top_block_title h3{font-size: 30px;color: #FFFFFF;font-weight: bold;}
.body_top_block_title h4{font-size: 22px;color: #FFFFFF;}





.body_top_block_content{width: 1200px;height: 155px;box-sizing: border-box;padding-top: 22px;}

.body_top_block_content ul{width: 1186px;height: 111px;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;box-sizing: border-box;padding-left: 184px;padding-right: 184px;background-color: rgba(6,55,130,0.5);}

.body_top_block_content center{width: 1186px;height: 111px;padding-left: 150px;padding-right: 150px;background-color: rgba(6,55,130,0.5);padding-top: 20px;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;box-sizing: border-box;}

.body_top_block_content ul li{width: 133px;height: 111px;line-height: 111px;text-align: center;}
.body_top_block_content ul li a{text-decoration: none;}
.body_top_block_content ul li h3{font-size: 16px;color: white;font-weight: bold;}


.body_top_block_content p{font-size: 16px;line-height: 32px;color: white;}

.active_white{border-top: 3px solid #ff0d08;}

.active_white h3{color: #0343a4;}






/***********body_house**********/

.body_house{width: 100%;height: 100px;}

.body_house_center{width: 1200px;height: 100px;margin: 0 auto;} 

.body_house_title{width: 1200px;height: 100px;box-sizing: border-box;padding-left: 9px;padding-top: 52px;}

.body_house_title_img{float: left;margin-right: 5px;}

.body_house_title_h6{}

.body_house_title_h6 h6{font-size: 14px;}





/***********body_newsearch**********/

.body_newsearch{width: 100%;height: 34px;}

.body_newsearch_center{width: 1200px;height: 34px;margin: 0 auto;} 

/******placeholder*********/
.body_newsearch_center input::-webkit-input-placeholder{
	color:dimgray;opacity: 1;
}
.body_newsearch_center input::-moz-placeholder{   /* Mozilla Firefox 19+ */
	color:dimgray;opacity: 1;
}
.body_newsearch_center input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
	color:dimgray;opacity: 1;
}
.body_newsearch_center input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
	color:dimgray;opacity: 1;
}






/***********body_hot**********/

.body_hot{width: 100%;height: 382px;}

.body_hot_center{width: 1200px;height: 382px;margin: 0 auto;} 

.body_hot_left{width: 331px;height: 382px;float: left;}

.body_hot_left_top{width: 331px;height: 114px;box-sizing: border-box;padding-left: 8px;padding-top: 30px;}

.body_hot_left_top h2{font-size: 30px;color: #004197;font-weight: bold;margin-bottom: 15px;}

.body_hot_left_middle{width: 331px;height: 95px;box-sizing: border-box;padding-left: 8px;padding-top: 14px;}

.body_hot_left_middle p{font-size: 16px;line-height: 32px;}

.body_hot_left_bottom{width: 331px;height: 95px;box-sizing: border-box;padding-left: 12px;padding-top: 23px;}

.body_hot_left_bottom div:nth-child(1){margin-bottom: 23px;}

.body_hot_left_bottom span{display: inline-block;color: #4776b4;width: 8px;height: 8px;margin-right: 11px;}

.body_hot_left_bottom h6{display: inline-block;font-size: 16px;}





.body_hot_right{width: 869px;height: 382px;float: left;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;align-items: center;box-sizing: border-box;padding-left: 119px;padding-top: 29px;padding-right: 11px;}

.body_hot_right a{display: block;width: 356px;height: 308px;overflow: hidden;}

.body_hot_right a:hover img{transform: scale(0.8);}

.body_hot_right img{width: 335px;height: 290px;border-radius: 10px;transition: all ease 0.5s;transform: scale(0.9);}

.body_hot_right a h3{font-size: 0.2rem;position: relative;bottom: 0.1rem;}






/***********body_road**********/

.body_road{width: 100%;height: 689px;}

.body_road_center{width: 1200px;height: 689px;margin: 0 auto;} 

.body_road_top{width: 1200px;height: 167px;margin-bottom: 15px;}

.body_road_top_title{width: 1200px;height: 99px;}

.body_road_top_title_left{width: 600px;height: 99px;float: left;display: flex;flex-direction: row;flex-wrap: nowrap;align-items: center;box-sizing: border-box;padding-left: 7px;}

.body_road_top_title_left img{margin-right: 10px;}

.body_road_top_title_left h1{font-size: 36px;font-weight: bold;color: #1d1d1d;}

.body_road_top_title_right{width: 600px;height: 99px;float: left;box-sizing: border-box;padding-left: 441px;padding-top: 39px;}

.body_road_top_title_right_block{width: 139px;height: 45px;border-radius: 7px;border: 1px solid #789ece;}

.body_road_top_title_right_block a{display: block;width: 139px;height: 45px;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;text-decoration: none;}

.body_road_top_title_right_block a:hover h6{font-size: 18px;color: #004197;}

.body_road_top_title_right_block img{margin-right: 12px;}

.body_road_top_title_right_block h6{font-size: 16px;}

.body_road_top_p{width: 1200px;height: 68px;box-sizing: border-box;padding-left: 7px;}

.body_road_top_p p{font-size: 16px;line-height: 32px;text-indent: 2em;}

.body_road_middle{width: 1200px;height: 301px;}

.body_road_middle ul{width: 1200px;height: 301px;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;align-items: center;box-sizing: border-box;padding-left: 7px;padding-right: 7px;}

.body_road_middle ul li{width: 270px;height: 278px;overflow: hidden;border-radius: 10px;overflow: hidden;}

.body_road_middle ul li:hover img{transform: scale(1.1);}

.body_road_middle ul li img{margin-bottom: 29px;width: 270px;height: 201px;border-radius: 10px;transition: all ease 0.5s;}

.body_road_middle_li_block{width: 270px;height: 201px;border-radius: 10px;overflow: hidden;}

/*.body_road_middle ul li img:hover{transform: scale(1.1);}*/





.body_road_middle ul li span{width: 18px;height: 18px;display: inline-block;background:url('../images/product_center/body_road_circle.png') no-repeat;background-size: 100% 100%;margin-right: 13px;position: relative;top: 3px;}

.body_road_middle ul li h3{display: inline-block;font-size: 20px;}


.body_road_bottom{width: 1200px;height: 221px;}

.body_road_bottom ul{width: 1200px;height: 221px;box-sizing: border-box;padding-top: 33px;padding-left: 10px;padding-right: 10px;overflow: hidden;}

.body_road_bottom ul li{width: 210px;height: 86px;float: left;box-sizing: border-box;margin-right: 23px;margin-left: 23px;}

.body_road_bottom ul li a{display: block;width: 210px;height: 86px;}

.body_road_bottom ul li a:hover h3{color: #004197;}

.body_road_bottom ul li h3{font-size: 20px;width: 210px;height: 40px;line-height: 40px;border: 1px dashed #bdbdbd;border-radius: 6px;text-align: center;box-sizing: border-box;}


/***********body_environment**********/

.body_environment{width: 100%;height: 689px;}

.body_environment_center{width: 1200px;height: 689px;margin: 0 auto;} 

.body_environment_top{width: 1200px;height: 167px;margin-bottom: 15px;}

.body_environment_top_title{width: 1200px;height: 99px;}

.body_environment_top_title_left{width: 600px;height: 99px;float: left;display: flex;flex-direction: row;flex-wrap: nowrap;align-items: center;box-sizing: border-box;padding-left: 7px;}

.body_environment_top_title_left img{margin-right: 10px;}

.body_environment_top_title_left h1{font-size: 36px;font-weight: bold;color: #1d1d1d;}

.body_environment_top_title_right{width: 600px;height: 99px;float: left;box-sizing: border-box;padding-left: 441px;padding-top: 39px;}

.body_environment_top_title_right_block{width: 139px;height: 45px;border-radius: 7px;border: 1px solid #789ece;}

.body_environment_top_title_right_block a{display: block;width: 139px;height: 45px;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;text-decoration: none;}

.body_environment_top_title_right_block img{margin-right: 12px;}

.body_environment_top_title_right_block a:hover h6{font-size: 18px;color: #004197;}

.body_environment_top_title_right_block h6{font-size: 16px;}

.body_environment_top_p{width: 1200px;height: 68px;box-sizing: border-box;padding-left: 7px;}

.body_environment_top_p p{font-size: 16px;line-height: 32px;text-indent: 2em;}

.body_environment_middle{width: 1200px;height: 301px;}

.body_environment_middle ul{width: 1200px;height: 301px;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;align-items: center;box-sizing: border-box;padding-left: 7px;padding-right: 7px;}

.body_environment_middle ul li{width: 270px;height: 278px;overflow: hidden;}

.body_environment_middle ul li:hover img{transform: scale(1.1);}

.body_environment_middle ul li img{margin-bottom: 29px;width: 270px;height: 201px;border-radius: 10px;transition: all ease 0.5s;}

.body_environment_middle ul li span{width: 18px;height: 18px;display: inline-block;background:url('../images/product_center/body_environment_circle.png') no-repeat;background-size: 100% 100%;margin-right: 13px;position: relative;top: 3px;}

.body_environment_middle ul li h3{display: inline-block;font-size: 20px;}


.body_environment_bottom{width: 1200px;height: 221px;}

.body_environment_bottom ul{width: 1200px;height: 221px;box-sizing: border-box;padding-top: 33px;padding-left: 10px;padding-right: 10px;overflow: hidden;}

.body_environment_bottom ul li{width: 210px;height: 86px;float: left;box-sizing: border-box;margin-right: 23px;margin-left: 23px;}


.body_environment_bottom ul li a{display: block;width: 210px;height: 86px;}

.body_environment_bottom ul li a:hover h3{color: #004197;}



.body_environment_bottom ul li h3{font-size: 20px;width: 210px;height: 40px;line-height: 40px;border: 1px dashed #bdbdbd;border-radius: 6px;text-align: center;box-sizing: border-box;}



/***********body_bridge**********/

.body_bridge{width: 100%;height: 689px;}

.body_bridge_center{width: 1200px;height: 689px;margin: 0 auto;} 

.body_bridge_top{width: 1200px;height: 167px;margin-bottom: 15px;}

.body_bridge_top_title{width: 1200px;height: 99px;}

.body_bridge_top_title_left{width: 600px;height: 99px;float: left;display: flex;flex-direction: row;flex-wrap: nowrap;align-items: center;box-sizing: border-box;padding-left: 7px;}

.body_bridge_top_title_left img{margin-right: 10px;}

.body_bridge_top_title_left h1{font-size: 36px;font-weight: bold;color: #1d1d1d;}

.body_bridge_top_title_right{width: 600px;height: 99px;float: left;box-sizing: border-box;padding-left: 441px;padding-top: 39px;}

.body_bridge_top_title_right_block{width: 139px;height: 45px;border-radius: 7px;border: 1px solid #789ece;}

.body_bridge_top_title_right_block a{display: block;width: 139px;height: 45px;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;text-decoration: none;}

.body_bridge_top_title_right_block img{margin-right: 12px;}

.body_bridge_top_title_right_block a:hover h6{font-size: 18px;color: #004197;}

.body_bridge_top_title_right_block h6{font-size: 16px;}

.body_bridge_top_p{width: 1200px;height: 68px;box-sizing: border-box;padding-left: 7px;}

.body_bridge_top_p p{font-size: 16px;line-height: 32px;text-indent: 2em;}

.body_bridge_middle{width: 1200px;height: 301px;}

.body_bridge_middle ul{width: 1200px;height: 301px;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;align-items: center;box-sizing: border-box;padding-left: 7px;padding-right: 7px;}

.body_bridge_middle ul li{width: 270px;height: 278px;overflow: hidden;}

.body_bridge_middle ul li:hover img{transform: scale(1.1);}

.body_bridge_middle ul li img{margin-bottom: 29px;width: 270px;height: 201px;border-radius: 10px;transition: all ease 0.5s;}

.body_bridge_middle ul li span{width: 18px;height: 18px;display: inline-block;background:url('../images/product_center/body_bridge_circle.png') no-repeat;background-size: 100% 100%;margin-right: 13px;position: relative;top: 3px;}

.body_bridge_middle ul li h3{display: inline-block;font-size: 20px;}


.body_bridge_bottom{width: 1200px;height: 221px;}

.body_bridge_bottom ul{width: 1200px;height: 221px;box-sizing: border-box;padding-top: 33px;padding-left: 10px;padding-right: 10px;overflow: hidden;}

.body_bridge_bottom ul li{width: 210px;height: 86px;float: left;box-sizing: border-box;margin-right: 23px;margin-left: 23px;}


.body_bridge_bottom ul li a{display: block;width: 210px;height: 86px;}

.body_bridge_bottom ul li a:hover h3{color: #004197;}



.body_bridge_bottom ul li h3{font-size: 20px;width: 210px;height: 40px;line-height: 40px;border: 1px dashed #bdbdbd;border-radius: 6px;text-align: center;box-sizing: border-box;}



/***********body_tunnel**********/

.body_tunnel{width: 100%;height: 689px;}

.body_tunnel_center{width: 1200px;height: 689px;margin: 0 auto;} 

.body_tunnel_top{width: 1200px;height: 167px;margin-bottom: 15px;}

.body_tunnel_top_title{width: 1200px;height: 99px;}

.body_tunnel_top_title_left{width: 600px;height: 99px;float: left;display: flex;flex-direction: row;flex-wrap: nowrap;align-items: center;box-sizing: border-box;padding-left: 7px;}

.body_tunnel_top_title_left img{margin-right: 10px;}

.body_tunnel_top_title_left h1{font-size: 36px;font-weight: bold;color: #1d1d1d;}

.body_tunnel_top_title_right{width: 600px;height: 99px;float: left;box-sizing: border-box;padding-left: 441px;padding-top: 39px;}

.body_tunnel_top_title_right_block{width: 139px;height: 45px;border-radius: 7px;border: 1px solid #789ece;}

.body_tunnel_top_title_right_block a{display: block;width: 139px;height: 45px;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;text-decoration: none;}

.body_tunnel_top_title_right_block img{margin-right: 12px;}

.body_tunnel_top_title_right_block a:hover h6{font-size: 18px;color: #004197;}

.body_tunnel_top_title_right_block h6{font-size: 16px;}

.body_tunnel_top_p{width: 1200px;height: 68px;box-sizing: border-box;padding-left: 7px;}

.body_tunnel_top_p p{font-size: 16px;line-height: 32px;text-indent: 2em;}

.body_tunnel_middle{width: 1200px;height: 301px;}

.body_tunnel_middle ul{width: 1200px;height: 301px;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;align-items: center;box-sizing: border-box;padding-left: 7px;padding-right: 7px;}

.body_tunnel_middle ul li{width: 270px;height: 278px;overflow: hidden;}

.body_tunnel_middle ul li:hover img{transform: scale(1.1);}

.body_tunnel_middle ul li img{margin-bottom: 29px;width: 270px;height: 201px;border-radius: 10px;transition: all ease 0.5s;}

.body_tunnel_middle ul li span{width: 18px;height: 18px;display: inline-block;background:url('../images/product_center/body_tunnel_circle.png') no-repeat;background-size: 100% 100%;margin-right: 13px;position: relative;top: 3px;}

.body_tunnel_middle ul li h3{display: inline-block;font-size: 20px;}


.body_tunnel_bottom{width: 1200px;height: 221px;}

.body_tunnel_bottom ul{width: 1200px;height: 221px;box-sizing: border-box;padding-top: 33px;padding-left: 10px;padding-right: 10px;overflow: hidden;}

.body_tunnel_bottom ul li{width: 210px;height: 86px;float: left;box-sizing: border-box;margin-right: 23px;margin-left: 23px;}

.body_tunnel_bottom ul li a{display: block;width: 210px;height: 86px;}

.body_tunnel_bottom ul li a:hover h3{color: #004197;}

.body_tunnel_bottom ul li h3{font-size: 20px;width: 210px;height: 40px;line-height: 40px;border: 1px dashed #bdbdbd;border-radius: 6px;text-align: center;box-sizing: border-box;}



/***********body_mud**********/

.body_mud{width: 100%;height: 689px;}

.body_mud_center{width: 1200px;height: 689px;margin: 0 auto;} 

.body_mud_top{width: 1200px;height: 167px;margin-bottom: 15px;}

.body_mud_top_title{width: 1200px;height: 99px;}

.body_mud_top_title_left{width: 600px;height: 99px;float: left;display: flex;flex-direction: row;flex-wrap: nowrap;align-items: center;box-sizing: border-box;padding-left: 7px;}

.body_mud_top_title_left img{margin-right: 10px;}

.body_mud_top_title_left h1{font-size: 36px;font-weight: bold;color: #1d1d1d;}

.body_mud_top_title_right{width: 600px;height: 99px;float: left;box-sizing: border-box;padding-left: 441px;padding-top: 39px;}

.body_mud_top_title_right_block{width: 139px;height: 45px;border-radius: 7px;border: 1px solid #789ece;}

.body_mud_top_title_right_block a{display: block;width: 139px;height: 45px;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;text-decoration: none;}

.body_mud_top_title_right_block img{margin-right: 12px;}

.body_mud_top_title_right_block a:hover h6{font-size: 18px;color: #004197;}

.body_mud_top_title_right_block h6{font-size: 16px;}

.body_mud_top_p{width: 1200px;height: 68px;box-sizing: border-box;padding-left: 7px;}

.body_mud_top_p p{font-size: 16px;line-height: 32px;text-indent: 2em;}

.body_mud_middle{width: 1200px;height: 301px;}

.body_mud_middle ul{width: 1200px;height: 301px;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;align-items: center;box-sizing: border-box;padding-left: 7px;padding-right: 7px;}

.body_mud_middle ul li{width: 270px;height: 278px;overflow: hidden;}


.body_mud_middle ul li:hover img{transform: scale(1.1);}


.body_mud_middle ul li img{margin-bottom: 29px;width: 270px;height: 201px;border-radius: 10px;transition: all ease 0.5s;}

.body_mud_middle ul li span{width: 18px;height: 18px;display: inline-block;background:url('../images/product_center/body_mud_circle.png') no-repeat;background-size: 100% 100%;margin-right: 13px;position: relative;top: 3px;}

.body_mud_middle ul li h3{display: inline-block;font-size: 20px;}


.body_mud_bottom{width: 1200px;height: 221px;}

.body_mud_bottom ul{width: 1200px;height: 221px;box-sizing: border-box;padding-top: 33px;padding-left: 10px;padding-right: 10px;overflow: hidden;}

.body_mud_bottom ul li{width: 210px;height: 86px;float: left;box-sizing: border-box;margin-right: 23px;margin-left: 23px;}

.body_mud_bottom ul li a{display: block;width: 210px;height: 86px;}

.body_mud_bottom ul li a:hover h3{color: #004197;}


.body_mud_bottom ul li h3{font-size: 20px;width: 210px;height: 40px;line-height: 40px;border: 1px dashed #bdbdbd;border-radius: 6px;text-align: center;box-sizing: border-box;}


/***********body_steel**********/

.body_steel{width: 100%;height: 689px;}

.body_steel_center{width: 1200px;height: 689px;margin: 0 auto;} 

.body_steel_top{width: 1200px;height: 167px;margin-bottom: 15px;}

.body_steel_top_title{width: 1200px;height: 99px;}

.body_steel_top_title_left{width: 600px;height: 99px;float: left;display: flex;flex-direction: row;flex-wrap: nowrap;align-items: center;box-sizing: border-box;padding-left: 7px;}

.body_steel_top_title_left img{margin-right: 10px;}

.body_steel_top_title_left h1{font-size: 36px;font-weight: bold;color: #1d1d1d;}

.body_steel_top_title_right{width: 600px;height: 99px;float: left;box-sizing: border-box;padding-left: 441px;padding-top: 39px;}

.body_steel_top_title_right_block{width: 139px;height: 45px;border-radius: 7px;border: 1px solid #789ece;}

.body_steel_top_title_right_block a{display: block;width: 139px;height: 45px;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;text-decoration: none;}

.body_steel_top_title_right_block img{margin-right: 12px;}

.body_steel_top_title_right_block a:hover h6{font-size: 18px;color: #004197;}

.body_steel_top_title_right_block h6{font-size: 16px;}

.body_steel_top_p{width: 1200px;height: 68px;box-sizing: border-box;padding-left: 7px;}

.body_steel_top_p p{font-size: 16px;line-height: 32px;text-indent: 2em;}

.body_steel_middle{width: 1200px;height: 301px;}

.body_steel_middle ul{width: 1200px;height: 301px;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;align-items: center;box-sizing: border-box;padding-left: 7px;padding-right: 7px;}

.body_steel_middle ul li{width: 270px;height: 278px;overflow: hidden;}

.body_steel_middle ul li:hover img{transform: scale(1.1);}


.body_steel_middle ul li img{margin-bottom: 29px;width: 270px;height: 201px;border-radius: 10px;transition: all ease 0.5s;}

.body_steel_middle ul li span{width: 18px;height: 18px;display: inline-block;background:url('../images/product_center/body_steel_circle.png') no-repeat;background-size: 100% 100%;margin-right: 13px;position: relative;top: 3px;}

.body_steel_middle ul li h3{display: inline-block;font-size: 20px;}


.body_steel_bottom{width: 1200px;height: 221px;}

.body_steel_bottom ul{width: 1200px;height: 221px;box-sizing: border-box;padding-top: 33px;padding-left: 10px;padding-right: 10px;overflow: hidden;}

.body_steel_bottom ul li{width: 210px;height: 86px;float: left;box-sizing: border-box;margin-right: 23px;margin-left: 23px;}

.body_steel_bottom ul li a{display: block;width: 210px;height: 86px;}

.body_steel_bottom ul li a:hover h3{color: #004197;}


.body_steel_bottom ul li h3{font-size: 20px;width: 210px;height: 40px;line-height: 40px;border: 1px dashed #bdbdbd;border-radius: 6px;text-align: center;box-sizing: border-box;}




/***********body_cut**********/

.body_cut{width: 100%;height: 689px;}

.body_cut_center{width: 1200px;height: 689px;margin: 0 auto;} 

.body_cut_top{width: 1200px;height: 167px;margin-bottom: 15px;}

.body_cut_top_title{width: 1200px;height: 99px;}

.body_cut_top_title_left{width: 600px;height: 99px;float: left;display: flex;flex-direction: row;flex-wrap: nowrap;align-items: center;box-sizing: border-box;padding-left: 7px;}

.body_cut_top_title_left img{margin-right: 10px;}

.body_cut_top_title_left h1{font-size: 36px;font-weight: bold;color: #1d1d1d;}

.body_cut_top_title_right{width: 600px;height: 99px;float: left;box-sizing: border-box;padding-left: 441px;padding-top: 39px;}

.body_cut_top_title_right_block{width: 139px;height: 45px;border-radius: 7px;border: 1px solid #789ece;}

.body_cut_top_title_right_block a{display: block;width: 139px;height: 45px;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;text-decoration: none;}

.body_cut_top_title_right_block img{margin-right: 12px;}

.body_cut_top_title_right_block a:hover h6{font-size: 18px;color: #004197;}

.body_cut_top_title_right_block h6{font-size: 16px;}

.body_cut_top_p{width: 1200px;height: 68px;box-sizing: border-box;padding-left: 7px;}

.body_cut_top_p p{font-size: 16px;line-height: 32px;text-indent: 2em;}

.body_cut_middle{width: 1200px;height: 301px;}

.body_cut_middle ul{width: 1200px;height: 301px;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;align-items: center;box-sizing: border-box;padding-left: 7px;padding-right: 7px;}

.body_cut_middle ul li{width: 270px;height: 278px;overflow: hidden;}


.body_cut_middle ul li:hover img{transform: scale(1.1);}


.body_cut_middle ul li img{margin-bottom: 29px;width: 270px;height: 201px;border-radius: 10px;transition: all ease 0.5s;}

.body_cut_middle ul li span{width: 18px;height: 18px;display: inline-block;background:url('../images/product_center/body_cut_circle.png') no-repeat;background-size: 100% 100%;margin-right: 13px;position: relative;top: 3px;}

.body_cut_middle ul li h3{display: inline-block;font-size: 20px;}


.body_cut_bottom{width: 1200px;height: 221px;}

.body_cut_bottom ul{width: 1200px;height: 221px;box-sizing: border-box;padding-top: 33px;padding-left: 10px;padding-right: 10px;overflow: hidden;}

.body_cut_bottom ul li{width: 210px;height: 86px;float: left;box-sizing: border-box;margin-right: 23px;margin-left: 23px;}

.body_cut_bottom ul li a{display: block;width: 210px;height: 86px;}

.body_cut_bottom ul li a:hover h3{color: #004197;}


.body_cut_bottom ul li h3{font-size: 20px;width: 210px;height: 40px;line-height: 40px;border: 1px dashed #bdbdbd;border-radius: 6px;text-align: center;box-sizing: border-box;}






/***********body_drill**********/

.body_drill{width: 100%;height: 689px;}

.body_drill_center{width: 1200px;height: 689px;margin: 0 auto;} 

.body_drill_top{width: 1200px;height: 167px;margin-bottom: 15px;}

.body_drill_top_title{width: 1200px;height: 99px;}

.body_drill_top_title_left{width: 600px;height: 99px;float: left;display: flex;flex-direction: row;flex-wrap: nowrap;align-items: center;box-sizing: border-box;padding-left: 7px;}

.body_drill_top_title_left img{margin-right: 10px;}

.body_drill_top_title_left h1{font-size: 36px;font-weight: bold;color: #1d1d1d;}

.body_drill_top_title_right{width: 600px;height: 99px;float: left;box-sizing: border-box;padding-left: 441px;padding-top: 39px;}

.body_drill_top_title_right_block{width: 139px;height: 45px;border-radius: 7px;border: 1px solid #789ece;}

.body_drill_top_title_right_block a{display: block;width: 139px;height: 45px;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;text-decoration: none;}

.body_drill_top_title_right_block img{margin-right: 12px;}

.body_drill_top_title_right_block a:hover h6{font-size: 18px;color: #004197;}

.body_drill_top_title_right_block h6{font-size: 16px;}

.body_drill_top_p{width: 1200px;height: 68px;box-sizing: border-box;padding-left: 7px;}

.body_drill_top_p p{font-size: 16px;line-height: 32px;text-indent: 2em;}

.body_drill_middle{width: 1200px;height: 301px;}

.body_drill_middle ul{width: 1200px;height: 301px;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;align-items: center;box-sizing: border-box;padding-left: 7px;padding-right: 7px;}

.body_drill_middle ul li{width: 270px;height: 278px;overflow: hidden;}


.body_drill_middle ul li:hover img{transform: scale(1.1);}


.body_drill_middle ul li img{margin-bottom: 29px;width: 270px;height: 201px;border-radius: 10px;transition: all ease 0.5s;}

.body_drill_middle ul li span{width: 18px;height: 18px;display: inline-block;background:url('../images/product_center/body_drill_circle.png') no-repeat;background-size: 100% 100%;margin-right: 13px;position: relative;top: 3px;}

.body_drill_middle ul li h3{display: inline-block;font-size: 20px;}


.body_drill_bottom{width: 1200px;height: 221px;}

.body_drill_bottom ul{width: 1200px;height: 221px;box-sizing: border-box;padding-top: 33px;padding-left: 10px;padding-right: 10px;overflow: hidden;}

.body_drill_bottom ul li{width: 210px;height: 86px;float: left;box-sizing: border-box;margin-right: 23px;margin-left: 23px;}


.body_drill_bottom ul li a{display: block;width: 210px;height: 86px;}

.body_drill_bottom ul li a:hover h3{color: #004197;}


.body_drill_bottom ul li h3{font-size: 20px;width: 210px;height: 40px;line-height: 40px;border: 1px dashed #bdbdbd;border-radius: 6px;text-align: center;box-sizing: border-box;}














/**************body_case*************/
.body_case{width: 100%;height: 577px;}

.body_case_center{width: 1200px;height: 577px;margin: 0 auto;}

.body_case_title{width: 1200px;height: 116px;display: flex;flex-direction: row;flex-wrap: wrap;align-content: center;box-sizing: border-box;padding-left: 0px;}
.body_case_title h3{font-size: 30px;color: #004197;font-weight: bold;width: 1200px;margin-bottom: 15px;}



.body_case_content{width: 1200px;height: 463px;}
.body_case_content_left{width: 390px;height: 418px;float: left;background:url('../images/video_list/body_case_content_left_bg.jpg') no-repeat;background-size: 100% 100%;display: flex;flex-direction: row;flex-wrap: wrap;align-content: center;justify-content: center;}

.body_case_content_left_h5{width: 390px;}
.body_case_content_left h5{color: white;text-align: center;font-size: 20px;margin-bottom: 18px;}
.body_case_content_left_h3{width: 390px;}
.body_case_content_left h3{color: white;text-align: center;font-size: 24px;font-weight: bold;margin-bottom: 28px;}
.body_case_content_left_h6{width: 390px;}
.body_case_content_left h6{color: white;text-align: center;font-size: 14px;}

.body_case_content_left a{display: block;width: 138px;height: 38px;line-height: 38px;border-radius: 19px;background-color: #006cd7;text-align: center;}


.body_case_content_right{width: 782px;height: 418px;float: left;}

.body_case_content_right li{box-sizing: border-box;width: 391px;height: 209px;float: left;border: 1px solid #eaeaea;}


.body_case_content_right li:hover h6{color: #004197;}


.body_case_content_right_li_left{width: 194px;height: 207px;float: left;box-sizing: border-box;padding-left: 28px;padding-top: 56px;}

.body_case_content_right_li_left h5{font-size: 16px;margin-bottom: 17px;width: 166px;height: 21px;font-weight: bold;color: #1d1d1d;}
.body_case_content_right_li_left p{font-size: 14px;margin-bottom: 28px;line-height: 17px;width: 166px;height: 51px;}
.body_case_content_right_li_left h6{font-size: 14px;width: 166px;height: 21px;}


.body_case_content_right_li_right{width: 194px;height: 207px;float: left;}

.body_case_content_right_li_right img{width: 194px;height: 208px;}




































/********footer********/
.footer{width: 100%;height: 395px;}

.footer_nav{width: 100%;height: 67px;background-color: #004197;}
.footer_nav_center{width: 1200px;height: 67px;margin: 0 auto;}
.footer_nav_left{width: 940px;height: 67px;float: left;}
.footer_nav_left li{width: 117.5px;height: 67px;float: left;}
.footer_nav_left li a{display: block;width: 117.5px;height: 67px;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}
.footer_nav_left li a:hover{color: white;}
.footer_nav_left li h3{color: white;font-size: 14px;}


.footer_nav_right{width: 260px;height: 67px;float: left;}

.search_text{width: 122px;height: 67px;box-sizing: border-box;float: left;padding: 6px 12px;font-size: 14px;}

.footer_nav_right button{width: 62px;height: 67px;float: left;background-color: #005bb5;border: none;}


.footer_intro{width: 100%;height: 328px;background-color: #252f36;}
.footer_intro_center{width: 1200px;height: 328px;margin: 0 auto;}
.footer_intro_left{width: 273px;height: 328px;float: left;box-sizing: border-box;padding-top: 40px;}
.footer_intro_middle{width: 586px;height: 328px;float: left;box-sizing: border-box;padding: 40px;padding-left: 84px;}
.footer_intro_right{width: 341px;height: 328px;float: left;box-sizing: border-box;padding-top: 40px;padding-left: 52px;}

.footer_intro_left li{margin-bottom: 10px;}

.footer_intro_left_font h2{display: inline-block;font-size: 18px;color: #adadad;font-weight: bold;}
.footer_intro_left_font h6{font-size: 14px;color: #adadad;}
.footer_intro_left_font img{display: inline-block;}


.footer_intro_middle_name{margin-bottom: 20px;}
.footer_intro_middle_name h2{font-size: 22px;color: #adadad;font-weight: bold;}

.footer_intro_middle_welcome{margin-bottom: 20px;}
.footer_intro_middle_welcome h3{font-size: 14px;color: #adadad;}

.footer_intro_middle_mail{margin-bottom: 20px;}
.footer_intro_middle_mail img{display: inline-block;}
.footer_intro_middle_mail h3{font-size: 14px;color: #adadad;display: inline-block;position: relative;bottom: 5px;}

.footer_intro_middle_tel{margin-bottom: 20px;}
.footer_intro_middle_tel img{display: inline-block;}
.footer_intro_middle_tel h3{font-size: 14px;color: #adadad;display: inline-block;position: relative;bottom: 6px;}

.footer_intro_middle_address{margin-bottom: 20px;}
.footer_intro_middle_address img{display: inline-block;}
.footer_intro_middle_address h3{font-size: 14px;color: #adadad;display: inline-block;position: relative;bottom: 5px;}

.footer_intro_middle_copy{}
.footer_intro_middle_copy h3{font-size: 14px;color: #adadad;display: inline-block;position: relative;bottom: 5px;}

.footer_intro_right li{margin-bottom: 10px;}

.footer_intro_right_font h2{display: inline-block;font-size: 18px;color: #adadad;font-weight: bold;}
.footer_intro_right_font h6{font-size: 14px;color: #adadad;}
.footer_intro_right_font img{display: inline-block;}


/******placeholder*********/
input::-webkit-input-placeholder{
	color:#FFFFFF;opacity: 0.5;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
	color:#FFFFFF;opacity: 0.5;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
	color:#FFFFFF;opacity: 0.5;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
	color:#FFFFFF;opacity: 0.5;
}































/*********屏幕宽度小于1000px************/
@media (max-width: 1000px) {
	
	.body_hidden{display: none;}
	
}


/*********屏幕宽度小于1000px************/
@media (min-width: 1000px) {
	
	.m_body_hidden{display: none;}
	
}


/*********手机端屏幕的自适应代码开始************/





.m_link{width: 6.4rem;height: 7rem;background-color: #FFFFFF;position: fixed;z-index: 111;top: 1rem;}

.m_link li{width: 6.4rem;height: 0.85rem;border-top: 1px solid #eee;}

.m_link li a{width: 6.4rem;height: 0.85rem;box-sizing: border-box;padding-left: 0.3rem;padding-right: 0.3rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;align-items: center;text-decoration: none;}

.m_link_li_h3{width: 2rem;height: 0.4rem;}

.m_link_li_h3 h3{font-size: 0.3rem;font-weight: normal;}

.m_link_li_img{width: 0.2rem;height: 0.36rem;}

.m_link_li_img img{width: 10px;height: 18px;}



/***手机端中间代码***/


.m_body{height: 64rem;}



.m_body_core{width: 6.4rem;margin-top: 0.5rem;}

.m_body_core_block{width: 5.4rem;margin-left: 0.5rem;margin-right: 0.5rem;margin-bottom: 0.5rem;}

.m_body_core_block_h3{margin-bottom: 0.2rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;align-items: center;}

.m_body_core_block_h3 h3{font-size: 0.38rem;font-weight: bold;color: #1253a3;}

.m_body_core_block_img{margin-bottom: 0.2rem;}

.m_body_core_block_img img{}

.m_body_core_block_p{}

.m_body_core_block_p p{font-size: 0.28rem;line-height: 0.56rem;}



/**************body_list*************/

.m_body_list{width: 6.4rem;}

.m_body_list_center{width: 5.4rem;margin: 0 auto;}

.m_body_list_middle{width: 5.4rem;margin-bottom: 0rem;height: 6rem;}

.m_body_list_middle ul{width: 5.4rem;}

.m_body_list_middle ul>div{width: 5.4rem;display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-between;align-content: space-between;box-sizing: border-box;}

.m_body_list_middle ul li{width: 2.5rem;height: 2.5rem;box-sizing: border-box;margin-bottom: 0.2rem;}

.m_body_list_middle_li_top{width: 2.5rem;height: 1.8rem;}

.m_body_list_middle_li_top img{width: 2.5rem;height: 1.8rem;border-radius: 0.1rem;}

.m_body_list_middle_li_bottom{width: 2.5rem;height: 0.7rem;display: flex;flex-direction: row;flex-wrap: nowrap;align-items: center;justify-content: center;}

.m_body_list_middle_li_bottom h3{width: 2.5rem;font-size: 0.2rem;color: #1d1d1d;}






.m_body_list_bottom{width: 5.4rem;height: 0.8rem;}

.m_body_list_bottom ul{width: 5.4rem;height: 0.8rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;align-items: center;box-sizing: border-box;}

.m_body_list_bottom ul li{background-color: #f5f5f5;width: 0.8rem;height: 0.8rem;line-height: 0.8rem;text-align: center;border-radius: 1px;}

.m_body_list_bottom ul li:first-child{width: 0.8rem !important;font-size: 0.22rem !important;color: #1d1d1d !important;}

.m_body_list_bottom ul li:last-child{width: 0.8rem !important;font-size: 0.22rem !important;color: #1d1d1d !important;}

.m_body_list_bottom ul li a{font-size: 0.22rem;color: #1d1d1d;text-decoration: none;}

.thisclass{background-color: #1253a3 !important;color: #FFFFFF !important;}

.thisclass a{color: white !important;text-decoration: none;} 

















/**************m_consult***********/
.m_consult{width: 6.4rem;height: 0.9rem;background:url('../images/index/m_consult_bg.png') no-repeat;background-size: 100% 100%;position: relative;bottom: 0.22rem;position: fixed;bottom: -0.01rem;margin: 0 auto;z-index: 999;}
.m_consult_center{width: 5.84rem;height: 0.9rem;margin: 0 auto;box-sizing: border-box;padding-top: 0.22rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-between;align-items: center;}

.m_consult_left{width: 2.55rem;height: 0.68rem;box-sizing: border-box;padding-left: 0.36rem;padding-right: 0.48rem;}

.m_consult_left_img{float: left;width: 0.5rem;height: 0.68rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}
.m_consult_left img{width: 0.27rem;height: 0.27rem;}

.m_consult_left_h3{float: left;width: 1.2rem;height: 0.68rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}
.m_consult_left h3{font-size: 0.28rem;font-weight: normal;}

.m_consult_middle{width: 0.74rem;height: 0.68rem;position: relative;bottom: 0.1rem;}

.m_consult_middle_img{width: 0.74rem;height: 0.68rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;}
.m_consult_middle img{width: 0.6rem;height: 0.6rem;}

.m_consult_right{width: 2.55rem;height: 0.68rem;box-sizing: border-box;padding-left: 0.54rem;padding-right: 0.37rem;}

.m_consult_right_img{float: left;width: 0.43rem;height: 0.68rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}
.m_consult_right img{width: 0.25rem;height: 0.27rem;}

.m_consult_right_h3{float: left;width: 1.2rem;height: 0.68rem;display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: center;align-items: center;}
.m_consult_right h3{font-size: 0.28rem;font-weight: normal;}














/***手机端尾部代码***/
.m_footer{width: 6.4rem;height: 7.16rem;background-color: #252f36;box-sizing: border-box;padding: 0.5rem;}



.m_footer_intro_middle_name{margin-bottom: 0.5rem;}

.m_footer_intro_middle_name h2{color: #adadad;font-size: 0.34rem;font-weight: bold;}



.m_footer_intro_middle_welcome{margin-bottom: 0.5rem;}

.m_footer_intro_middle_welcome h3{color: #adadad;font-size: 0.24rem;}


.m_footer_intro_middle_mail{margin-bottom: 0.5rem;}

.m_footer_intro_middle_mail img{display: block;width: 21px;height: 17px;float: left;margin-right: 0.2rem;}

.m_footer_intro_middle_mail h3{color: #adadad;font-size: 0.24rem;}


.m_footer_intro_middle_tel{margin-bottom: 0.5rem;}

.m_footer_intro_middle_tel img{display: block;width: 22px;height: 22px;float: left;margin-right: 0.2rem;}

.m_footer_intro_middle_tel h3{color: #adadad;font-size: 0.24rem;}


.m_footer_intro_middle_address{margin-bottom: 0.5rem;}

.m_footer_intro_middle_address img{display: block;width: 19px;height: 22px;float: left;margin-right: 0.2rem;}

.m_footer_intro_middle_address h3{color: #adadad;font-size: 0.24rem;}

.m_footer_intro_middle_copy{}

.m_footer_intro_middle_copy h3{color: #adadad;font-size: 0.24rem;}